.Model {
    margin: 1em auto;
    max-width: 80em;
}

.Model .history {
    margin: 1em;
}

.Model .history .response {
    font-size: 120%;
    color: dodgerblue;
    margin-bottom: 1em;
}

.Model .history button {
    padding: 0.5em 1em;
}

.Model .input {
    position: relative;
    display: inline-block;
}

.Model .query .input input {
    width: 50em;
    height: 3em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 120%;
    border-radius: 0.3em;
    border-color: lightgray;
}

.Model .input div.clear {
    position: absolute;
    top: 0.1em;
    right: 0.6em;
    cursor: pointer;
    font-size: 200%;
    color: gray;
}

.Model .query button {
    padding: 1em;
    margin-bottom: 0.5em;
    font-size: 120%;
    border-color: lightgray;
}

.Model .query {
    margin: 1em;
}